<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/webjars/font-awesome/5.0.2/web-fonts-with-css/css/fontawesome-all.css}" rel="stylesheet"
          media="screen"/>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}">
    </script>
    <title>Twitter City - NOTRE PROJEEEEEEEEET</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <br/>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b><u>TD Réalisation Logicielle : Projet Macron</u></b></h4>
                </div>
            </div>
            <br/>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><b><u>Rechercher par mot-clé</u></b></h4>
                </div>
                <div class="panel-body">
                    <form method="post" th:action="@{'/search'}">
                        <label><b>Message : </b></label>
                        <div>
                            <input class="form-control" name="message" type="text"/>
                        </div>
                        <br/>
                        <div class="offset-sm-2 col-sm-10">
                            <div class="form-group">
                                <button type="submit" name="action" value="search" class="btn btn-primary">Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br/>
            <div th:if="${not #lists.isEmpty(listtweet)}">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><b>Liste des tweets :
                            <button class="btn btn-info" onclick="window.location.reload()"
                                    style="margin-left:10px;padding-left:10px;">Actualiser<i style="margin-left:5px;padding-left:5px;" class="fas fa-sync"></i></button>
                        </b></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" border="1">
                            <tr>
                                <th><b>Name</b></th>
                                <th><b>Message</b></th>
                                <th><b>Date</b></th>
                            </tr>
                            <tr th:each="tweet : ${listtweet}">
                                <td th:text="${tweet.getUsername()}">Name</td>
                                <td th:text="${tweet.getMessage()}">Message</td>
                                <td th:text="${tweet.getDate()}">Date</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>
</body>
</html>